# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
.env
.env.prod

/bitswap_worker
/filplus_integration
/graphsync_worker
/http_worker
/oneoff_integration
/retrieval_worker
/statemarketdeals
/stub_worker
/repdao
